body {
  background-color: rgb(186, 238, 186)
}



th {
  font-size: 24px;
}

.choose{
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
}

input {
  align-items: center;
  height: 60px;
  width: 200px;
}

#wins, #losses, #ties {
  align-items: center;
  font-size: 30px;
  height:60px;
  width: 200px;
}